.moviePopularCard {
  margin: 0 25px 30px 0;
  position: relative;
}

.moviePopularCard__image {
  width: 175px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.moviePopularCard__vote {
  background-color: orange;
  border-radius: 30px;
  font-size: 12px;
  width: 30px;
  padding: 2px;
  text-align: center;
  position: absolute;
  top: -3%;
  left: 40%;
}

.moviePopularCard__title, 
.moviePopularCard__release {
  width: 175px;
  font-size: 13px;
  font-family: Poppins;
  font-weight: bold;
  margin-bottom: 10px;
}

.moviePopularCard__release {
  color: #8ca7bb;
  font-size: 11px;
}

.moviePopularCard__btn {
  background-color: #3d3d3d;
  color: red;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  padding: 6px;
  margin-bottom: 15px;
}

.moviePopularCard__btn:hover {
  background-color: #525252;
}

body.active-modal {
  overflow-y: hidden;
}

.modal-img {
  width: 250px;
  height: 160px;
  object-fit: contain;
  position: absolute;
  top: 11%;
  right: 10%;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  color: #000;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-title, 
.modal-vote, 
.modal-button, 
.modal-release, 
.modal-overview {
  margin-top: 2rem;
}

.modal-title {
  font-size: 17px;
  font-weight: bold;
  width: 250px;
}

.modal-vote {
  background-color: orange;
  color: #fff;
  border-radius: 30px;
  font-size: 12px;
  width: 30px;
  padding: 2px;
  text-align: center;
}

.modal-overview {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
}

.modal-button {
  background-color: orange;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  margin-bottom: 15px;
}


/* Media Query Section */
@media screen and (max-width: 584px) {
  .moviePopularCard {
    margin-bottom: 40px;
  }
}