.searchBar {
  background-color: rgb(247, 68, 68);
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.7rem;
}

.searchBar__form {
  display: flex;
  align-items: center;
}

.searchBar__searchIcon {
  cursor: pointer;
}

.searchBar__input {
  background-color: rgb(247, 68, 68);
  border: none;
  color: #fff;
  width: 30vw;
  height: 20px;
  font-size: 14px;
  padding-left: 10px;
}

.searchBar__input:focus {
  outline: none;
}

.searchBar__right {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins;
}

.searchBar__button {
  background-color: #3d3d3d;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  padding: 6px;
  margin-left: 1rem;
}

.searchBar__button:hover {
  background-color: #525252;
}


/* Media Query Section */
@media screen and (max-width: 828px) {
  .searchBar__userEmailText {
    display: none;
  }
}